@font-face {
	font-family:VCSans;
	src: url('ViceCitySans.otf');
}
@font-face {
	font-family:TinBird;
	src: url('TinBird.ttf');
}
.navlogo {
	width:250px;
	height:70px;
	position:
	left:1%;
}
.navlogo:hover {
	animation-name:gocrazy;
	animation-duration:0.5s;
	animation-delay:10s;
	animation-iteration-count:infinite;
}
@keyframes gocrazy {
	0% {
		background-color:red;
	}
	50% {
		background-color:green;
	}
	100% {
		background-color:blue;
	}
}
body {
	background-color: #ffe1a3;
	overflow-x:hidden;
	overflow-y:hidden;
}
.navigation {
	background-color: #624401;
	padding:5px;
	width:2000px;
	height:70px;
	position:fixed;
	top:0px;
	left:0px;
}
.tabs a:visited {
	text-decoration: none;
}
.tabs a:link {
	text-decoration: none;
}
.faketab {
	pointer-events: none;
	cursor: default;
	color:#999;
	font-family: VCSans, Arial, sans-serif;
	font-size: 18pt;
	margin:10px;
}
.realtab {
	color:#fff;
	font-family: VCSans, Arial, sans-serif;
	font-size: 18pt;
	margin:10px;
}
.filler {
	color:#624401;
	margin-left:270px;
}
.loginbtn {
	background-color:#ddd;
	display:inline;
	text-decoration:none;
	font-family:VCSans, Arial, sans-serif;
	font-size:18pt;
	border:5px solid #ddd;
	color:#000;
}
.registerbtn {
	background-color:#17d;
	display:inline;
	text-decoration:none;
	font-family:VCSans, Arial, sans-serif;
	font-size:18pt;
	border:5px solid #17d;
	color:#fff;
	position:sticky;
	left:100%;
}
h1 {

	font-family: VCSans, Arial, sans-serif;
	color:black;
}
h2 {
	font-family: VCSans, Arial, sans-serif;
	color:black;
}
h3 {
	font-family: TinBird; Arial, sans-serif;
	color:black;
}
p {
	font-family: TinBird; Arial, sans-serif;
	color:black;
}
