@font-face {
	font-family:VCSans;
	src: url('ViceCitySans.otf');
}
@font-face {
	font-family:TinBird;
	src: url('TinBird.ttf');
}
body {
	background-color: #b4e5ff;
}
h1 {
	font-family: VCSans, Arial, sans-serif;
	color:black;
}
h2 {
	font-family: VCSans, Arial, sans-serif;
	color:black;
}
h3 {
	font-family: TinBird; Arial, sans-serif;
	color:black;
}
p {
	font-family: TinBird; Arial, sans-serif;
	color:black;
}
.rgform {
	font-family: TinBird; Arial, sans-serif;
	color:black;
}
.asidelogo {
	position:relative;
	width:540px;
	height:180px;
	top:-175px;
	left:175px;
}